.ceramic-comparison {margin: 0;}
.ceramic-comparison figcaption {padding: 1.5rem;}
.ceramic-comparison figcaption > a {font-family: "Songti SC", serif; font-size: 1.25rem;}
.ceramic-comparison figcaption p {font-size: .9rem; line-height: 1.7;}
.hero-links {line-height: 2.4;}
